@import "./styles/404.css";
@import "./styles/auth.css";
@import "./styles/catalogue-item.css";
@import "./styles/catalogue.css";
@import "./styles/index.css";
@import "./styles/profile.css";
@import "./styles/cart.css";
@import "./styles/header.css";

* {
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
}
html,
body {
    background: #edf2ff;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper {
    width: 100vw;
    padding: 0 10%;
}
footer {
    margin: 0 !important;
}
.bg-primary {
    background: #edf2ff !important;
}
.bg-secondary {
    background: #dbe4ff !important;
}
.bg-main {
    background: #3b5bdb;
}
.navbar * {
    color: white !important;
}
.btn {
    background: #51cf66;
    color: white;
    border: none;
}
.btn:hover,
.btn:active,
.btn:focus {
    background: #37b24d;
    color: white;
    border: none;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: light;
    src: url("fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("fonts/Montserrat-Medium.ttf");
}
