.signIn,
.signUp {
    border-radius: 20px;
}

.reg-container-main {
    width: 366px;
}

#signUpLink,
#signInLink {
    color: blue;
    background: none;
    border: none;
    text-decoration: underline;
}
