#productCard{
    width: 100%;

    display: flex;

}

#productCarousel{
    width: 500px;
    
    margin:auto;
}

#productCarousel img{
    object-fit: contain;
}
#productCarousel img {
    width: 500px;
    height: 500px;
}
