#carouselBanner {
    width: 100vw;
    margin-left: -10vw;
}
.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    width: 100%;

    background: rgb(0, 0, 0, 0.2);
    color: #000;
    left: 0;
    bottom: 0;
    transition: .5s;
}

#carouselBanner:hover .carousel-caption{
    color:#fff;
    transition: .5s;
    background: rgb(0, 0, 0, 0.9);
}


