#carouselBanner {
    width: 100vw;
    margin-left: -10vw;
}
.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    width: 100%;

    background: rgb(0, 0, 0, 0.2);
    color: #000;
    left: 0;
    bottom: 0;
    transition: .5s;
}

#carouselBanner:hover .carousel-caption{
    color:#fff;
    transition: .5s;
    background: rgb(0, 0, 0, 0.9);
}

.categorie img {
    border-radius: 10px;
    margin: 5px;
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    
}

.card {
    color:#000;
    text-decoration: none;
}